
<%= render 'form', comment: @comment %>
<hr />


Comments:

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% for item in @car.comments %>
    <% if !item.nickname.nil? %>
      <tr>
        <td><%= item.nickname %></td>
        <td><%= item.content %> </td>
        <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to car list', cars_path %>
