<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @comment.nickname %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Car:</strong>
  <%= @comment.car %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
