<p id="notice"><%= notice %></p>

<h1>Cars to rent:</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Brnad</th> &nbsp &nbsp
      <th>Version</th>

      <th>Available</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td>

          <%= image_tag car.image.url(:thumb)%>
        </td>
        <td><%= car.brand %></td>

        <td><%= car.version %></td>

        <td>

          <% if car.available==true %>
            <%= image_tag("accept.png", :alt => "rss feed") %>
          <% else %>
              <%= image_tag("decline.png", :alt => "rss feed") %>
          <% end %>
        </td>



        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Delete', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Comments',:controller => :comments, :action => :new, :id =>car.id%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add', new_car_path %>
